---
layout: default
title: Business Verification
parent: Guides
nav_order: 2
has_children: true
has_toc: true
---
# Business Verification
We may ask you to verify your business. This process helps us confirm that your account belongs to a legitimate business or organisation.

Business verification helps ensure that:

- **Your business is a legal entity.** You'll need to have your business registered with the local authorities, and you'll need an official phone number or postal address for your business.
- **You're an authorised representative of your business.** You'll need to be able to receive a verification code sent to the phone number or email address for your business, or use the domain verification process.

Send your documents to <business.verification@otpalerts.com>

## Verify the legal business name
You are required to provide official documentation of your business's legal name. You can send an official document that matches the business's legal name that you entered at the time of registration, such as a business licence, articles of incorporation or business tax registration. See table below for examples of the documents you can submit for your country.

## Verify the business address or phone number
Send the document that shows both the legal name of your business and the postal address or phone number shown on the screen.

After you've sent the documents, we'll review them as quickly as we can. This may take several days. 

## List of valid documents
The table below shows what documents you can submit for business verification processing for your country of residence.

| Country | Documents  |
|---------|------------|
| India  | * Business bank statement<br/> * Certificate of incorporation<br/> * Goods and services tax registration certificate (GST)<br/> * Permanent account number card (PAN)<br/> * Shop establishment certificate<br/> * Udyog Aadar (UID)<br/> * Utility bill|
| Kuwait	 | * Business License-Arabic<br/> * Business License-English<br/> * Civil ID of Owner mentioned on Business License<br/> * Email id of Owner mentioned on Business license<br/> * Phone Number of Owner mentioned on Business license<br/> |
| UAE	 | * Business License-Arabic<br/> * Business License-English<br/> * Civil ID of Owner mentioned on Business License<br/> * Email id of Owner mentioned on Business license<br/> * Phone Number of Owner mentioned on Business license<br/> |
